*{

    margin-top: 0;    
    margin-left: 0;
}


.app{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-bottom: 20rem;
    
    
}

 
.navbar{
    width: 100vw;
    background-color:rgb(16, 15, 15);
    padding: 2rem;
    position: fixed;
    display: flex;
    margin-bottom: 200px;
    gap: 20px;
  
 
 }
    .blogcard{
    margin-top: 20px;
    margin-top: 6rem;
     display: flex;
    align-items: start;
    padding-right: 0;
    gap: 3rem;
    margin-left: 0.7rem;
    
 }

 .logins{
    margin-top: 20rem;

 }
 .content {
    padding-top: 1px;
  }

  .login-container{
    margin-top:7rem;
    
  }
.login-form{
margin-bottom: 5rem;
margin-left: 2rem;
}
.form-group{
    font-size: large;
    font-family: sans-serif;
}
.social-login button{
    margin-right: 1rem;
}
.social-login{
    margin-left:1rem;
}



  
   
 

 
 