.app{
    font-size: 1.2rem;
    font-family: sans-serif;
    
    
}

 .navbar{
    margin-bottom: 2rem;
}
.navbar{
    padding: 2rem;
    position: fixed;
    display: flex;
    margin-bottom: 20rem;
 
 }
 
 