*{

    margin-top: 0;    
    margin-left: 0;
}


.app{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-bottom: 20rem;
    
    
}

 
.navbar{
    width: 100vw;
    background-color:rgb(16, 15, 15);
    padding: 2rem;
    position: fixed;
    display: flex;
    margin-bottom: 200px;
    gap: 20px;
  
 
 }
    .blogcard{
    margin-top: 20px;
    margin-top: 6rem;
     display: flex;
    align-items: start;
    padding-right: 0;
    gap: 3rem;
    margin-left: 0.7rem;
    
 }
 
 

 
 